<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>local.autotunnel.autossh</string>
  <key>EnvironmentVariables</key>
  <dict>
    <!-- Be a lot more respnsive -->
    <key>AUTOSSH_POLL</key>
    <string>10</string>
  </dict>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/local/bin/autossh</string>
    <string>-N</string>
    <string>-M</string>
    <string>31337</string>
    <string>-D</string>
    <string>1080</string>
    <string>REPLACE_AUTOSSH_SERVER</string>
  </array>
  <key>KeepAlive</key>
  <dict>
    <key>NetworkState</key>
    <true/>
  </dict>
</dict>
</plist>
